/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* New Stuff */

body { 
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
background: #eee; 
}

a {
color: green;
}

#title {
margin-bottom: 20px;
}

p, #title {
padding: 5px;
background-color: green;
}

#sidebar {
float: left;
list-style: none;
margin: 0 20px;
width: 120px;
}

#sidebar a {
text-decoration: none;
color: black;
}

.selected {
border: 1px solid transparent;
background-color: green;
color: white;
}

#content {
float: left;
margin: 0 auto;
width: 600px;
}

#apps {
margin-left: 30px;
list-style: none;
padding: 20px;
}

.question {
background-color: white;
margin-bottom: 20px;
}

.response {
padding: 10px;
}

.update-name, .name {
float: left;
background-color: white;
padding: 0;
margin-right: 10px;
}

/* Clearfix hack */ 
.cancel:after, .delete:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.error {
background-color: white;
color: red;
}

.prev {
float: left;
}

.next {
float: right;
}

.edit, .delete, .update, .cancel {
font-size: .75em;
}

.list {
list-style: none;
}

.list li {
margin: 10px 0;
}

.update-form {
display: none;
}

.add-form {
margin: 10px 0;
}

#nav {
overflow: hidden;
margin: 10px 0;    
}

table {
text-align: center;
}

td {
border-bottom: 1px solid #888; 
padding: 5px;
background-color: white;
}

th {
background-color: green;
padding: 5px;    
}

.choice {
display: block;
text-align: left;
}
