/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* New Stuff */

html, body {
height: 100%;
}

body { 
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
color: #333;
background: #d5e1ca;
background-image: url('/static/tile.png');
background-repeat: repeat-x repeat-y;
}

a {
color: #333;
}

a:hover {
color: #603b46;
}

#title {
margin-bottom: 20px;
font-size: 140%;
background-color: #4b603a;
}

p, #title {
padding: 10px;
background-color: #4b603a;
color: #eee;
font-weight: bold;
}

ul {
list-style: none;
}

#content {
float: left;
margin: 0 auto;
width: 600px;
height: 100%;
}

#sidebar {
float: left;
margin: 0 20px;
width: 120px;
}

#sidebar a {
padding-left: 5px;
text-decoration: none;
}

.selected {
border: 1px solid transparent;
background-color: #4b603a;
font-weight: bold;
}

.selected a {
color: #eee;
}

#apps {
margin-left: 30px;
padding: 20px;
}

.question, .result {
background-color: white;
margin-bottom: 20px;
}

.response, .result-mitigations {
padding: 0 10px;
}

.update-name, .name {
float: left;
background-color: white;
padding: 0;
font-weight: normal;
margin-right: 10px;
color: #333;
max-width: 80%;
}

a .name {
text-decoration: underline;
}

.error {
background-color: white;
color: red;
}

.prev {
float: left;
}

.next {
float: right;
}

.edit, .delete, .update, .cancel, .add, .select-all, .select-none, #nav {
font-size: .75em;
}

.list li {
margin: 10px 0;
}

.update-form {
display: none;
}

.add-form {
margin: 10px 0;
}

#nav {
overflow: hidden;
margin: 10px 0;    
}

.disclosure-row, .mitigation-row, .impact-row {
margin-bottom: 20px;
padding: 10px;
background-color: white
}

.from-actor-data, .disclosure, .impact-row  {
float: left;
width: 330px;
margin-right: 10px;
}

.to-actor, .alternatives {
float: left;
width: 220px;
}

.impacts {
float: left;
}

.choice {
display: block;
text-align: left;
}

.variable-text {
color: #4b603a;
text-transform: lowercase;
}

.actor-goals {
float: right;
width: 208px;
position: fixed;
margin-left: 370px;
height: 100%;
}

.actor-goals h2 {
padding: 10px;
font-weight: bold;
background-color: #4b603a;
color: #eee;
}

.actor-goals-content {
padding: 10px;
background-color: white;
overflow-y: scroll;
height: 80%;
}

.actor {
font-weight: bold;    
}

.goal {
background-color: white;
border: 1px solid #333;
margin-bottom: 10px;
padding: 5px;
list-style: none;
width: 160px;
display: pointer;
}

.supported-goals, .harmed-goals {
float: left;
width: 158px;
margin-top: 10px;
border: 1px solid #333;
}

.harmed-goals {
margin-left: 10px;
}

.supported-goals ul, .harmed-goals ul {
min-height: 20px;
}

.clear {
clear: both;
}

.result li {
margin-bottom: 10px;
}

.result-mitigations {
padding-top: 10px;
padding-bottom: 10px;
}

.ui-state-active {
background-color: #4b603a;
}

.effect-goal {
border: 1px solid #888;
margin: 5px;
padding: 10px 5px 5px 5px;
}

.remove {
float: right;
width: 16px;
height: 16px;
background-image: url('/static/delete.png');
margin: -8px -4px 0 0;
cursor: pointer;
}