{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#actors').addClass('selected');
        });
    </script>
    <div class="question">
        <p class="caption">Who are the actors in the {{app_name}} system?</p>
        <div class="response">
            <ul class="list" id="app-{{ app_id }}">
                <script type="text/javascript">
                {% for actor in actors %}
                    $( '#app-{{ app_id }}' ).append(getItemHtml("{{ actor.name }}", "actor", "{{ actor.id }}"));
                {% endfor %}
                </script>
            </ul>
            <form class="add-form">
                <input class="add-name"/>
                <input type="hidden" class="type" value="actor"/>
                <a class="add" href="#">Add</a>
            </form>
            <p class="error"></p>
        </div>
    </div>    

{% endblock %}

{% block help %}
<p><span class="keyterm">Actors</span> are people who interact with data coming to or from the system. For example, this could include:<p>
<ul>
<li>Users</li>
<li>System owners</li>
<li>Search engines</li>
<li>3rd party advertisers</li>
<li>Governments</li>
<li>ISPs</li>
<li>Local network users</li>
</ul>
<p>Try to group similar types of users to make the analysis easier. For example, there may be several types of actors who have access to data in the production system (system administrators, developers, testers, etc.), but they pose similar privacy concerns</p>
{% endblock %}

{% block nav %}
    <a class="prev" href="/">&lt; Prev (Welcome)</a>
    <a class="next" href="goals?app_id={{ app_id }}">Next (Goals) &gt;</a>
{% endblock %}