{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
    function modifyDisclosureResult(result) {
        if (result['success']) {

        } else {
            $('.error').html(result['message']);
        }
    }
    
    $(document).ready(function () {
        $('#disclosures').addClass('selected');
        $('.flagged').live('change', function () {
            var flagged = $(this).attr('checked');
            var app_id = $(this).parents('.disclosures').attr('id').split('-')[1];
            var data = $(this).parents('.disclosure-row').children('.from-actor-data').children('span');
            var fromActorId = $(data[0]).attr('id').split('-')[1];
            var datumId = $(data[1]).attr('id').split('-')[1];
            var toActorId = $(this).siblings('span').attr('id').split('-')[1];
            $.post('/disclosure', 
                {app_id: app_id, from_actor_id: fromActorId, datum_id: datumId, to_actor_id: toActorId, flagged: flagged},
                function(data) {
                    modifyDisclosureResult(data);
                }
            ).error(function(xhr, ajaxOptions, thrownError) { error(thrownError) } );
        })
    });
    </script>

    <div class="disclosures" id="app-{{ app_id }}">

    {% for from_actor in actors %}
        {% for datum in from_actor.data %}
        <div class="disclosure-row">
            <div class="from-actor-data">
                It may be considered a privacy violation if 
                <span id="fromactor-{{from_actor.id}}" class="variable-text">{{from_actor.name}}</span> disclose their 
                <span id="datumid-{{datum.id}}" class="variable-text">{{datum.name}}</span> to:
            </div>
            <div class="to-actor">
                {% for to_actor in actors %}
                <div class="choice">
                    <input type="checkbox" class="flagged" {{checked(from_actor.id, datum.id, to_actor.id)}}/>
                    <span id="toactorid-{{to_actor.id}}">{{to_actor.name}}</span>
                </div>
                {% endfor %}
                <a href="#" class="select-all">Select All</a> | <a href="#" class="select-none">Select None</a>
            </div>
            <div class="clear"></div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div id="nav">
        <a class="prev" href="/goals?app_id={{ app_id }}">&lt; Prev (Goals)</a>
        <a class="next" href="/mitigations?app_id={{ app_id }}">Next (Mitigations) &gt;</a>
    </div>

{% endblock %}


{% macro checked(from_actor_id, datum_id, to_actor_id) %}
    {% for d in disclosures %}
        {% if d.from_actor_id == from_actor_id and d.datum_id == datum_id and d.to_actor_id == to_actor_id %}
            checked = "true"
        {% endif %}
        note="{{ d.datum_id }}|{{datum_id}}"
    {% endfor %}
{% endmacro %}
