{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#goals').addClass('selected');
    });
    </script>
    
    {% for actor in actors %}
    <div class="question">
        <p class="caption">What are the goals for <span class="actor-name">{{ actor.name }}</span>?</p>    
        <div class="response">
            <ul id="actor-{{ actor.id }}" class="list">
                <script type="text/javascript">
                {% for goal in actor.goals %}
                    $("#actor-{{ actor.id }}").append(getItemHtml("{{ goal.name }}", "goal", "{{ goal.id }}"));
                {% endfor %}
                </script>
            </ul>
            <form class="add-form">
              <input class="add-name">
              <input type="hidden" class="type" value="goal"/>
              <a class="add" href="#">Add</a>
            </form>
            <p class="error"></p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block help %}
<p>Each of the actors also has goals when they use the system. Sometimes these goals are concrete and related directly to the operation of the system, and other times they are more open-ended and tangential. At least one of these goals should be for an actor to maintain control over the privacy of their personal data.</p>
{% endblock %}

{% block nav %}
    <a class="prev" href="/disclosures?app_id={{ app_id }}">&lt; Prev (Data)</a>
    <a class="next" href="/mitigations?app_id={{ app_id }}">Next (Mitigations) &gt;</a>
{% endblock %}