{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
    function modifyImpactResult(result) {
        if (result['success']) {

        } else {
            $('.error').html(result['message']);
        }
    }
    
    $(document).ready(function () {
        $('#impacts').addClass('selected');
        
        $('.effect').live('change', function () {
            var app_id = $(this).parents('.impacts').attr('id').split('-')[1];
            var mitigation_id = $(this).parents('.mitigation-row').attr('id').split('-')[1];
            var goal_id = $(this).parent().siblings('.goal').attr('id').split('-')[1];
            var effect = $(this).val();
            
            $.post('/impact', 
                {app_id:app_id, mitigation_id: mitigation_id, goal_id: goal_id, effect: effect},
                function(data) {
                    modifyImpactResult(data);
                }
            ).error(function(xhr, ajaxOptions, thrownError) { error(thrownError) } );
        });
    });
    </script>

    <table class="impacts" id="app-{{app_id}}">
        <tr><th>Impact</th><th>Category</th><th>From Actor</th><th>Data</th><th>To Actor</th></tr>
        {% for mitigation in mitigations %}
            <tr class="mitigation-row" id="mitigation-{{mitigation.id}}">
                <td>
                    <table>
                        <th>Actor</th><th>Goal</th><th>Support/Neutral/Harm</th>
                        {% for actor in actors %}
                            {% for goal in actor.goals %}
                            <tr>
                                <td>{{actor.name}}</td>
                                <td class="goal" id="goal-{{goal.id}}">{{goal.name}}</td>
                                <td>
                                    <select class="effect">
                                        <option value="support"{{selected(mitigation.id, 'support')}}>Support</option>
                                        <option value="neutral" {{selected(mitigation.id, 'neutral')}}>Neutral</option>
                                        <option value="harm"{{selected(mitigation.id, 'harm')}}>Harm</option>
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </td>
                <td>{{mitigation.category}}</td>
                <td>{{mitigation.disclosure.from_actor.name}}</td>
                <td>{{mitigation.disclosure.datum.name}}</td>
                <td>{{mitigation.disclosure.to_actor.name}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% macro selected(mitigation_id, effect) %}
    {% for i in impacts %}
        {% if i.mitigation_id == mitigation_id and m.effect == effect %}
            selected = "true"
        {% endif %}
        
        note = "{{i.goal_id | mitigation_id}}"
    {% endfor %}
{% endmacro %}

