<!DOCTYPE html>
<html>
<head>
    <title>Privacy Design Analyzer</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>    

</head>
    <body>
        <div id="title">Privacy Design Analyzer <span id="app-name">- {{app_name}}</span></div>
        <ul id="sidebar">
                <li id="start"><a href="/">Start</a></li>
                <li id="actors"><a href="/actors?app_id={{ app_id }}">Actors</a></li>
                <li id="goals"><a href="/goals?app_id={{ app_id }}">Goals</a></li>
                <li id="data"><a href="/data?app_id={{ app_id }}">Data</a></li>
                <li id="disclosures"><a href="/disclosures?app_id={{ app_id }}">Disclosures</a></li>
                <li id="mitigations"><a href="/mitigations?app_id={{ app_id }}">Mitigations</a></li>
                <li id="impacts"><a href="/impacts?app_id={{ app_id }}">Impacts</a></li>
                <li id="result"><a href="/result?app_id={{ app_id }}">Result</a></li>
        </ul>
        <div id="content">
            {% block body %}{% endblock %}
            <div id="nav">
                {% block nav %}{% endblock %}
                <div class="clear"></div>
            </div>
        </div>
        <div id="help">
            {% block help %}{% endblock %}
        </div>
    </body>
</html>