{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
    function modifyMitigationResult(result) {
        if (result['success']) {

        } else {
            $('.error').html(result['message']);
        }
    }
    
    $(document).ready(function () {
        $('#mitigations').addClass('selected');
        $('.mitigation input').live('change', function () {
            var app_id = $(this).parents('.mitigations').attr('id').split('-')[1];
            var flagged = $(this).attr('checked');
            var category = $(this).siblings().text();
            var disclosure_id = $(this).parents('.disclosure').attr('id').split('-')[1];
            $.post('/mitigation', 
                {app_id: app_id, disclosure_id: disclosure_id, category: category, flagged: flagged},
                function(data) {
                    modifyMitigationResult(data);
                }
            ).error(function(xhr, ajaxOptions, thrownError) { error(thrownError) } );
        })
    });
    </script>

    <table class="mitigations" id="app-{{app_id}}">
        <tr><th>Mitigation</th><th>From Actor</th><th>Data</th><th>To Actor</th></tr>
        {% for disclosure in disclosures %}
            <tr class="disclosure" id="disclosure-{{disclosure.id}}">
                <td>
                    {% for category in categories %}
                    <div class="mitigation">
                    <input type="checkbox" {{checked(disclosure.id, category)}}><span>{{category}}</span>
                    </div>
                    {% endfor %}
                </td>
                <td>{{disclosure.from_actor.name}}</td>
                <td>{{disclosure.datum.name}}</td>
                <td>{{disclosure.to_actor.name}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% macro checked(disclosure_id, category) %}
    {% for m in mitigations %}
        {% if m.disclosure_id == disclosure_id and m.category == category %}
            checked = "true"
        {% endif %}
    {% endfor %}
{% endmacro %}
