{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
    function modifyMitigationResult(result) {
        if (result['success']) {

        } else {
            $('.error').html(result['message']);
        }
    }
    
    $(document).ready(function () {
        $('#mitigations').addClass('selected');
        $('.choice input').live('change', function () {
            var app_id = $(this).parents('.mitigations').attr('id').split('-')[1];
            var flagged = $(this).attr('checked');
            var category = $(this).siblings().text();
            var disclosure_id = $(this).parents('.mitigation-row').attr('id').split('-')[1];
            $.post('/mitigation', 
                {app_id: app_id, disclosure_id: disclosure_id, category: category, flagged: flagged},
                function(data) {
                    modifyMitigationResult(data);
                }
            ).error(function(xhr, ajaxOptions, thrownError) { error(thrownError) } );
        })
    });
    </script>

    <div class="mitigations" id="app-{{app_id}}">
        {% for disclosure in disclosures %}
            <div class="mitigation-row" id="disclosure-{{disclosure.id}}">
                <p class="disclosure caption">
                    When <span class="variable-text">{{disclosure.from_actor.name}}</span> disclose <span class="variable-text">{{disclosure.datum.name}}</span> to <span class="variable-text">{{disclosure.to_actor.name}}</span>, the following alternatives are possible:   
                </p>
                <div class="alternatives">
                {% for category in categories %}
                    <div class="choice">
                        <input type="checkbox" {{checked(disclosure.id, category)}}>
                        <span>{{category}}</span>
                    </div>
                {% endfor %}
                    <a href="#" class="select-all">Select All</a> | <a href="#" class="select-none">Select None</a>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block help %}
<p><span class="keyterm">Mitigations</span> are design alternative that reduces the privacy risk of a disclosure. Select the mitigations that may potentially improve the privacy issues associated with the disclosure. There may be several mitigations for each disclosure, and some mitigations may be used together (e.g. notice and choice).</p>
{% endblock %}

{% block nav %}
    <a class="prev" href="/disclosures?app_id={{ app_id }}">&lt; Prev (Disclosures)</a>
    <a class="next" href="/impacts?app_id={{ app_id }}">Next (Impacts) &gt;</a>
{% endblock %}

{% macro checked(disclosure_id, category) %}
    {% for m in mitigations %}
        {% if m.disclosure_id == disclosure_id and m.category == category %}
            checked = "true"
        {% endif %}
    {% endfor %}
{% endmacro %}
