{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#start').addClass('selected');
        $('#actors').hide();
        $('#data').hide();
        $('#goals').hide();
        $('#disclosures').hide();
        $('#mitigations').hide();
        $('#impacts').hide();
        $('#result').hide();        
    });
</script>
    <div class="question">
        <p id="welcome">Welcome to the Privacy Design Analysis Toolkit. Select an application.</p>
        <div class="response">
            <ul id="applications" class="list">
                <script type="text/javascript">
                {% for application in applications %}
                    $("#applications").append(getItemHtml("{{ application.name }}", "application", "{{ application.id }}"));
                {% endfor %}
                </script>
            </ul>
            <form class="add-form">
              <input class="add-name">
              <input type="hidden" class="type" value="application"/>
              <a class="add" href="#">Add</a>
            </form>
        </div>
    </div>
{% endblock %}